<ion-view title="{{ vm.title }}" hide-nav-bar="false">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="vm.editUser()">
      <i class="icon ion-gear-a"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="clct-spinner" ng-if="vm.loading">
        <ion-spinner></ion-spinner>
    </div>
    <div ng-if="!vm.loading">
      <h1 class="padding">{{ vm.user.username }}</h1>
      <div class="list">
        <div class="item item-divider">
          Details
        </div>
        <div class="item">
          Name: {{ vm.user.first_name }} {{ vm.user.last_name }}
        </div>
        <div class="item">
          Email: {{ vm.user.email }}
        </div>
        <div class="item">
          Points: {{ vm.user.points }}
        </div>
        <div class="item">
          Comments: {{ vm.user.comments.length }}
        </div>
        <div class="item" ng-hide="{{ vm.user.reports.length > 0 }}">
          Reports: {{ vm.user.reports.length }}
        </div>
        <div class="item item-divider" ng-show="{{ vm.user.reports.length > 0 }}">
          Reports: {{ vm.user.reports.length }}
        </div>
        <a href="#/report/{{ report.id }}" class="item" ng-repeat="report in vm.user.reports">
          {{ report.title }}
        </a>
        <div class="item item-divider">
          Actions
        </div>
        <div class="item item-icon-right" ng-click="vm.logout()">
          Logout
          <i class="icon ion-log-out"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
