<ion-view title="{{ vm.title }}">
    <ion-content>
      <div class="clct-spinner" ng-if="vm.loading">
          <ion-spinner></ion-spinner>
      </div>
      <form class="form-horizontal" role="form" ng-submit="vm.updateAccount()" ng-if="!vm.loading">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="vm.user.first_name" name="first_name" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="vm.user.last_name" name="last_name" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="vm.user.email" name="email" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="vm.user.password" name="password">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Repeat Password</span>
            <input type="password" ng-model="vm.user.password_repeat" name="password">
          </label>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">Update</button>
          </div>
        </div>
      </form>
    </ion-content>
</ion-view>
