<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-default tabs-icon-top">

  <ion-tab title="Reports" icon="icon ion-ios-albums" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Leaderboard" icon="icon ion-ios-star" href="#/tab/leaderboard">
    <ion-nav-view name="tab-leaderboard"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon="icon ion-ios-cog" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
