{% extends 'base.html.twig' %}

{% block title %}Status Detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Status #{{ status.id }}</h1>
        </div>
        <div class="col-xs-12 col-md-6 actions">
            <a class="btn btn-success btn-just-icon btn-round" rel="tooltip" title="Edit" href="{{ path('status_edit', { 'id': status.id }) }}"><i class="material-icons">mode_edit</i></a>
            <form class="btn-form" action="{{ path('status_delete', { 'id': status.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(deleteForm) }}
                <button rel="tooltip" title="Delete" class="btn btn-danger btn-just-icon btn-round" type="submit">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Name</h3>
            <p>{{ status.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Description</h3>
            {{ status.description }}
        </div>
    </div>
{% endblock %}
