{% extends 'base.html.twig' %}

{% block title %}Status Edit{% endblock %}

{% block content %}
<div class="row">
    <h1 class="col-xs-12">Edit status</h1>
    {{ form_start(edit_form) }}
    <div class="col-xs-12">
        <div class="form-group label-floating">
            {{ form_label(edit_form.name, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.name, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_label(edit_form.description) }}
        {{ form_widget(edit_form.description, { 'attr': { 'class' : 'form-control', 'rows': 5 } }) }}
    </div>
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('status_index') }}">Cancel</a>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
    {{ form_end(edit_form) }}
    <div class="col-xs-12">
        {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
