{% extends 'base.html.twig' %}

{% block title %}Statuses{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Statuses</h1>
        </div>

        <div class="col-xs-12 col-md-6">
            <a href="{{ path('status_new') }}" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for e in statuses %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.description }}</td>
                        <td class="text-right">
                            <a class="btn btn-info btn-simple btn-xs" rel="tooltip" title="View" href="{{ path('status_detail', { 'id' : e.id }) }}"><i class="material-icons">visibility</i></a>
                            <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Edit" href="{{ path('status_edit', { 'id': e.id }) }}"><i class="material-icons">mode_edit</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
