<ion-view view-title="Collect" hide-nav-bar="true">
  <ion-content class="page--welcome" scroll="false">
      <div class="welcome__logo">
        <img src="img/logo.png" alt="Collect">
      </div>
      <div class="welcome__buttons padding">
        <button class="button button-block button-light" ng-click="goToLoginPage()">Log In</button>
        <a class="welcome__register light" ng-click="goToRegisterPage()">Register a new account</a>
      </div>
  </ion-content>
</ion-view>
