<ion-view title="{{ vm.title }}">
  <ion-content>
    <div class="clct-spinner" ng-if="vm.loading.report">
        <ion-spinner></ion-spinner>
    </div>
    <form class="form-horizontal" role="form" ng-submit="vm.updateReport(vm.report)" ng-if="!vm.loading.report">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="vm.report.title" name="title" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea name="description" ng-model="vm.report.description" cols="30" rows="10"></textarea>
        </label>
        <div>
          <label class="item item-stacked-label">
            <span class="input-label">Location</span>
            <button type="button" ng-click="vm.getLocation()" class="button button-block button-energized">
              <ion-spinner class="clct-btn-spinner spinner-light" icon="lines" ng-show="vm.loading.geo"></ion-spinner>
              <span ng-hide="vm.loading.geo"><i class="ion-location"></i> Get New Location</span>
            </button>
            <div ng-show="(vm.report.latitude && vm.report.longitude)">
              <leaflet markers="markers" center="mapCenter" height="300px" width="100%" tiles="vm.tiles"></leaflet>
            </div>
          </label>
        </div>
        <div>
          <label class="item item-stacked-label">
            <span class="input-label">Image</span>
            <button type="button" ng-click="vm.getPhoto()" class="button button-block button-energized"><i class="ion-camera"></i> Take New Photo</button>
            <img ng-if="(vm.report.image_name && !vm.lastPhoto)" ng-src="{{ vm.imagesUri + vm.report.image_name }}">
          </label>
          <div ng-if="vm.lastPhoto">
            <img id="editReportImage">
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">
            Update
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
