<ion-view title="{{ vm.title }}">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="vm.addReport()">
        <i class="icon ion-compose"></i>
      </button>
    </ion-nav-buttons>
    <ion-content>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="vm.refreshReports()">
      </ion-refresher>
      <div class="clct-spinner" ng-if="vm.loading">
          <ion-spinner></ion-spinner>
      </div>
      <div class="list card report" ng-repeat="report in vm.reports" data-id="{{ report.id }}" ng-if="!vm.loading">

        <div class="item item-divider report__title">
          <h2>{{ report.title }}</h2>
        </div>

        <div class="item item-body">
          <a href="#/report/{{ report.id }}" ng-if="report.image_name"><img class="full-image" ng-src="{{ vm.imagesUri + report.image_name }}"></a>
          <p>
            {{ report.description }}
          </p>
          <p>
            <a ng-href="#/report/{{ report.id }}" class="subdued">{{ report.comments.length }} Comment<span ng-if="report.comments.length != 1">s</span></a>
          </p>
        </div>
      </div>
    </ion-content>
</ion-view>
