<ion-view title="{{ vm.title }}">
  <ion-content>
    <div class="clct-spinner" ng-if="vm.loading.report">
        <ion-spinner></ion-spinner>
    </div>
    <form class="form-horizontal" role="form" ng-submit="vm.createReport(vm.newReport)" ng-if="!vm.loading.report">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" ng-model="vm.newReport.title" name="title" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea name="description" ng-model="vm.newReport.description" cols="30" rows="10"></textarea>
        </label>
        <div>
          <label class="item item-stacked-label">
            <span class="input-label">Location</span>
            <button type="button" ng-click="vm.getLocation()" class="button button-block button-energized">
              <ion-spinner class="clct-btn-spinner spinner-light" icon="lines" ng-show="vm.loading.geo"></ion-spinner>
              <span ng-hide="vm.loading.geo"><i class="ion-location"></i> Get Location</span>
            </button>
            <div ng-if="(vm.newReport.latitude && vm.newReport.longitude)">
              <leaflet markers="markers" center="mapCenter" height="300px" width="100%" tiles="vm.tiles"></leaflet>
            </div>
          </label>
        </div>
        <div>
          <label class="item item-stacked-label">
            <span class="input-label">Image</span>
            <button type="button" ng-click="vm.getPhoto()" class="button button-block button-energized"><i class="ion-camera"></i> Take Photo</button>
          </label>
          <div ng-show="vm.lastPhoto !== null">
            <img id="newReportImage">
          </div>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">
            <ion-spinner class="clct-btn-spinner spinner-light" icon="lines" ng-show="vm.loading.create"></ion-spinner>
            <span ng-hide="vm.loading.create">Create</span>
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
