<ion-view title="{{ vm.title }}" hide-nav-bar="false">
    <ion-content>
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="vm.refresh()"
        spinner="none">
      </ion-refresher>
      <div class="clct-spinner" ng-if="vm.loading">
          <ion-spinner></ion-spinner>
      </div>
      <ion-list ng-if="!vm.loading" class="leaderboard">
        <ion-item ng-repeat="user in vm.leaderboard" data-id="{{ user.id }}" class="item item-icon-left">
          <i ng-if="$index == 0" class="leaderboard__trophy--gold icon ion-trophy"></i>
          <i ng-if="$index == 1" class="leaderboard__trophy--silver icon ion-ribbon-a"></i>
          <i ng-if="$index == 2" class="leaderboard__trophy--bronze icon ion-ribbon-b"></i>
          <i ng-if="$index > 2" class="icon ion-person"></i>
          <span class="leaderboard__index">#{{ $index + 1 }}</span>
          <span class="leaderboard__user">{{ user.username }}</span>
          <span class="item-note">
            {{ user.points }} pts
          </span>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
