<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Add Comment</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <textarea name="content" ng-model="newComment.content" rows="8" cols="40" placeholder="What do you want to say?"></textarea>
      </label>
      <button class="button button-block button-positive" ng-click="vm.sendComment(newComment)">
        <ion-spinner class="clct-btn-spinner spinner-light" icon="lines" ng-show="submitting"></ion-spinner>
        <span ng-hide="submitting">Submit</span>
      </button>
    </div>
  </ion-content>
</ion-modal-view>
