<ion-view title="{{ vm.title }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="vm.goBack()">
      <i class="icon ion-arrow-left-b"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="vm.toggleOptions()" ng-if="vm.report.user.id == vm.currentUserId">
      <i class="icon ion-more"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.refreshReport()"
      spinner="none">
    </ion-refresher>
    <div class="clct-spinner" ng-if="vm.loading">
        <ion-spinner></ion-spinner>
    </div>
    <div class="report-detail-wrapper" ng-if="!vm.loading">
      <div class="padding">
        <h1 class="single-report__title">{{ vm.report.title }}</h1>
        <div class="single-report__meta">
          <ul>
            <li><i class="icon ion-flag"></i> {{ vm.report.status.name }}</li>
            <li><i class="icon ion-person"></i> {{ vm.report.user.username }}</li>
            <li><i class="icon ion-calendar"></i> {{ vm.report.created_at | date : short }}</li>
          </ul>
        </div>
        <div class="single-report__description">
          {{ vm.report.description }}
        </div>
        <img class="single-report__img" ng-if="vm.report.image_name" ng-src="{{ vm.imagesUri + vm.report.image_name }}">
      </div>
      <div class="list">
        <div class="item item-divider">
          Location
        </div>
        <div class="item">
          <leaflet markers="markers" center="mapCenter" height="300px" width="100%" tiles="vm.tiles"></leaflet>
        </div>
        <div class="item item-divider">
          Comments
        </div>
        <div class="comments">
          <div class="comment padding" ng-if="vm.report.comments" ng-repeat="comment in vm.report.comments" data-id="comment.id">
            <small class="comment__meta">By {{ comment.user.username }} on {{ comment.created_at | date : short }}</small>
            <div>{{ comment.content }}</div>
            <div class="comment__actions" ng-if="comment.user.id === vm.currentUserId">
              <a class="assertive" ng-click="vm.removeCommentWarning(comment.id)" title="Remove Comment">Delete</a>
            </div>
          </div>
          <div class="padding" ng-show="vm.report.comments.length == 0">
            No comments yet.
          </div>
        </div>
        <a class="item item-icon-left" ng-click="vm.createComment()" title="Add Comment">
          <i class="icon ion-plus-circled"></i>
          Add Comment
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
