{% extends 'base.html.twig' %}

{% block title %}Report Detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Comment #{{ comment.id }}</h1>
        </div>
        <div class="col-xs-12 col-md-6 actions">
            {% if comment.deletedAt == null %}
            <form class="btn-form" action="{{ path('comments_softdelete', { 'id': comment.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(softDeleteForm) }}
                <button rel="tooltip" title="Disable" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">not_interested</i>
                </button>
            </form>
            {% else %}
            <form class="btn-form" action="{{ path('comments_unsoftdelete', { 'id': comment.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(unSoftDeleteForm) }}
                <button rel="tooltip" title="Restore" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">settings_backup_restore</i>
                </button>
            </form>
            {% endif %}
            <form class="btn-form" action="{{ path('comments_delete', { 'id': comment.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(deleteForm) }}
                <button rel="tooltip" title="Delete" class="btn btn-danger btn-just-icon btn-round" type="submit">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>User</h3>
            <a href="{{ path('users_detail', { 'id': comment.user.id }) }}">{{ comment.user.username }}</a>
        </div>
        <div class="col-xs-12 col-md-5">
            <h3>Report</h3>
            <a href="{{ path('reports_detail', { 'id' : comment.report.id }) }}">{{ comment.report.title }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Content</h3>
            {{ comment.content|raw }}
        </div>
        <div class="col-xs-12 col-md-5">
            <h3>Details</h3>
            <p>Created: {{ comment.createdAt|date('M d, Y') }}</p>
            {% if comment.updatedAt %}
                <p>Last Updated: {{ comment.updatedAt|date('M d, Y') }}</p>
            {% endif %}
            {% if comment.deletedAt %}
                <p>Deleted: {{ comment.deletedAt|date('M d, Y') }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
