.clct-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  svg {
    width: 40px;
    height: 40px;
    stroke: $positive;
    fill: $positive;
  }
}

.clct-btn-spinner {
  svg {
    width: 16px;
    height: 16px;
  }
}
