.leaderboard__index {
  color: #aaa;
  margin-right: 1rem;
  font-size: 14px;
}

.leaderboard__trophy--gold {
  color: #ffc900;
}

.leaderboard__trophy--silver {
  color: #ccc;
}

.leaderboard__trophy--bronze {
  color: #F0B775;
}
