.report__title {
  background: $positive;
  h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }
}

.single-report__title {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  color: $positive;
}

.single-report__meta {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #666;
  li {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
  }
}

.single-report__description {
  margin-bottom: 1rem;
}

.single-report__img {
  display: block;
}

.comment__meta {
  color: #666;
}
