.page--welcome {
  background: $positive;
  padding: 15vh 0;
}

.welcome__logo {
  width: 40%;
  height: auto;
  margin: 0 auto 20%;
}

.welcome__buttons {
  text-align: center;
  button {
    font-weight: 700;
  }
}

.welcome__register {
  text-decoration: underline;
}
