{% extends 'base.html.twig' %}

{% block title %}User Detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>User #{{ user.id }}</h1>
        </div>
        <div class="col-xs-12 col-md-6 actions">
            <a class="btn btn-success btn-just-icon btn-round" rel="tooltip" title="Edit" href="{{ path('users_edit', { 'id': user.id }) }}"><i class="material-icons">mode_edit</i></a>
            {% if user.deletedAt == null %}
            <form class="btn-form" action="{{ path('users_softdelete', { 'id': user.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(softDeleteForm) }}
                <button rel="tooltip" title="Disable" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">not_interested</i>
                </button>
            </form>
            {% else %}
            <form class="btn-form" action="{{ path('users_unsoftdelete', { 'id': user.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(unSoftDeleteForm) }}
                <button rel="tooltip" title="Restore" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">settings_backup_restore</i>
                </button>
            </form>
            {% endif %}
            <form class="btn-form" action="{{ path('users_delete', { 'id': user.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(deleteForm) }}
                <button rel="tooltip" title="Delete" class="btn btn-danger btn-just-icon btn-round" type="submit">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Profile</h3>
            <ul>
                <li><i class="material-icons">face</i> {{ user.firstName }} {{ user.lastName }}</li>
                <li><i class="material-icons">person</i> {{ user.username }}</li>
                <li><i class="material-icons">email</i> {{ user.email }}</li>
                {% for r in user.roles %}
                    {% if r != 'ROLE_USER' %}
                        <li><i class="material-icons">flash_on</i>{{ r|slice('5')|capitalize }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Overview</h3>
            <ul>
                <li>{{ user.reports|length }} reports</li>
                <li>{{ user.comments|length }} comments</li>
                <li>{{ user.points }} point{% if user.points != 1 %}s{% endif %}</li>
                <li>Last login: {{ user.lastLogin|date('M d, Y') }}</li>
                <li>Created: {{ user.createdAt|date('M d, Y') }}</li>
                {% if user.updatedAt %}
                <li>Last Updated: {{ user.updatedAt|date('M d, Y') }}</li>{% endif %}
                {% if user.deletedAt %}
                <li>Deleted: {{ user.deletedAt|date('M d, Y') }}</li>{% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Reports</h3>
            {% if user.reports|length > 0 %}
            <ul>
                {% for r in user.reports %}
                <li><a href="{{ path('reports_detail', { 'id': r.id }) }}">{{ r.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No reports found.</p>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Comments</h3>
            {% if user.comments|length > 0 %}
            <ul>
                {% for c in user.comments %}
                <li><a href="{{ path('comments_detail', { 'id': c.id }) }}">#{{ c.id }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comments found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
