{% extends 'base.html.twig' %}

{% block title %}User Edit{% endblock %}

{% block content %}
<div class="row">
    <h1 class="col-xs-12">Edit user</h1>
    {{ form_start(edit_form) }}
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(edit_form.firstName, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.firstName, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(edit_form.lastName, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.lastName, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(edit_form.email, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.email, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(edit_form.points, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.points, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(edit_form.roles, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(edit_form.roles) }}
        </div>
    </div>
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('users_index') }}">Cancel</a>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
    {{ form_end(edit_form) }}
    <div class="col-xs-12">
        {{ form_start(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        {{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}
