{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Users</h1>
        </div>

        <div class="col-xs-12 col-md-3 col-md-offset-9">
            <form class="pull-right" action="{{ path('users_search') }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="key" id="key" {% if key is defined %} value="{{ key }}" {% endif %}/>
                    <span class="input-group-addon">
            			<i class="material-icons">search</i>
            		</span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if pagination|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th{% if pagination.isSorted('e.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username', 'e.username') }}</th>
                        <th>Email</th>
                        <th class="text-center">{{ knp_pagination_sortable(pagination, 'Points', 'e.points') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created', 'e.createdAt') }}</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in pagination %}
                    <tr>
                        <td>{{ e.username }}{% if (e.firstName|length > 0) or (e.lastName|length > 0) %}<br><small>{{ e.firstName }} {{ e.lastName }}</small>{% endif %}</td>
                        <td>{{ e.email }}</td>
                        <td class="text-center">{{ e.points }}
                        <td title="Created: {{ e.createdAt | date('H:i:s') }}">{{ e.createdAt | date('M d, Y') }}</td>
                        <td class="text-right">
                            <a class="btn btn-info btn-simple btn-xs" rel="tooltip" title="View" href="{{ path('users_detail', { 'id': e.id }) }}"><i class="material-icons">visibility</i></a>
                            <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Edit" href="{{ path('users_edit', { 'id': e.id }) }}"><i class="material-icons">mode_edit</i></a>
                            {% if e.deletedAt == null %}
                            <form class="btn-form" action="{{ path('users_softdelete', { 'id': e.id }) }}" method="post">
                                <input type="hidden" name="_method" value="POST" />
                                {{ form_widget(softDeleteForms[e.id]) }}
                                <button rel="tooltip" title="Disable" class="btn btn-warning btn-simple btn-xs" type="submit">
                                    <i class="material-icons">not_interested</i>
                                </button>
                            </form>
                            {% else %}
                            <form class="btn-form" action="{{ path('users_unsoftdelete', { 'id': e.id }) }}" method="post">
                                <input type="hidden" name="_method" value="POST" />
                                {{ form_widget(unSoftDeleteForms[e.id]) }}
                                <button rel="tooltip" title="Restore" class="btn btn-warning btn-simple btn-xs" type="submit">
                                    <i class="material-icons">settings_backup_restore</i>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Showing {{ pagination.getPaginationData.firstItemNumber }} - {{ pagination.getPaginationData.lastItemNumber }} of {{ pagination.getTotalItemCount }}</p>

            {# display navigation #}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% else %}
                <p>No users found{% if key is defined %} that contain <em>{{ key }}</em>{% endif %}.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
