{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Dashboard</h1>
            <p>
                Welcome to Collect! This is your dashboard.
            </p>
        </div>
    </div>
{% endblock %}
