{% for flash_message in app.session.flashBag.get('info') %}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">info_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Info:</b> {{ flash_message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('success') %}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-success">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">check</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Success:</b> {{ flash_message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('warning') %}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">warning</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Warning:</b> {{ flash_message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              <b>Error:</b> {{ flash_message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
