<nav class="navbar navbar-info navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand">Collect</div>
		</div>

		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="{% if app.request.attributes.get('_route') == 'dashboard' %}active{% endif %}"><a href="{{ path('dashboard') }}">Dashboard</a></li>
				<li class="{% if app.request.attributes.get('_route') == 'reports_index' %}active{% endif %}"><a href="{{ path('reports_index') }}">Reports</a></li>
				<li class="{% if app.request.attributes.get('_route') == 'status_index' %}active{% endif %}"><a href="{{ path('status_index') }}">Statuses</a></li>
				<li class="{% if app.request.attributes.get('_route') == 'users_index' %}active{% endif %}"><a href="{{ path('users_index') }}">Users</a></li>
				<li class="{% if app.request.attributes.get('_route') == 'comments_index' %}active{% endif %}"><a href="{{ path('comments_index') }}">Comments</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown">
	    			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">face</i> {{ app.user.username }} <b class="caret"></b></a>
	    			<ul class="dropdown-menu">
					  <li><a href="#">Settings</a></li>
					  <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
	    			</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
