{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h1>Log in</h1>
        <p>Please enter your credentials to continue.</p>
        <p>Don't have an account yet? <a href="{{ path('fos_user_registration_register') }}">Sign up</a>.</p>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group label-floating">
                <label class="control-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    Remember me
                </label>
            </div>

            <input type="submit"
                   class="btn btn-success"
                   id="_submit"
                   name="_submit"
                   value="Sign in" />
        </form>
    </div>
</div>
{% endblock %}
