{% extends "::base.html.twig" %}

{% block title %}Register{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <h1>Register</h1>
        <p>Fill in your credentials to apply as an administrator.</p>
        <p>Already have an account? <a href="{{ path('fos_user_security_login') }}">Sign in</a>.</p>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form) }}

        {{ form_errors(form.username) }}
        <div class="form-group label-floating">
            {{ form_label(form.username, 'Username', { 'label_attr': { 'class': 'control-label' }}) }}
            {{ form_widget(form.username, { 'attr': { 'class': 'form-control' }}) }}
        </div>

        {{ form_errors(form.email) }}
        <div class="form-group label-floating">
            {{ form_label(form.email, 'Email', { 'label_attr': { 'class': 'control-label' }}) }}
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
        </div>

        {{ form_errors(form.plainPassword.first) }}
        <div class="form-group label-floating">
            {{ form_label(form.plainPassword.first, 'Password', { 'label_attr': { 'class': 'control-label' }}) }}
            {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control' }}) }}
        </div>

        <div class="form-group label-floating">
            {{ form_label(form.plainPassword.second, 'Confirm password', { 'label_attr': { 'class': 'control-label' }}) }}
            {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control' }}) }}
        </div>

        {{ form_rest(form) }}
        <div>
            <input type="submit" class="btn btn-success" value="Register" />
        </div>
    {{ form_end(form) }}
</div>
{% endblock content %}
