<ion-view view-title="Log In">
  <ion-content>
    <form class="form-horizontal" role="form">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" ng-model="credentials.username" placeholder="Username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="credentials.password" placeholder="Password" required>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="submitLogin(credentials)">Log In</button>
      </div>
    </form>
    <div class="padding">
      <span style="font-style: italic;">Voor administrator access is de gebruikersnaam <strong>johndoe</strong> met <strong>password</strong> als bijhorend paswoord. Om als gewone gebruiker te testen, kunt u gewoon een nieuw account aanmaken.</span>
    </div>
  </ion-content>
</ion-view>
