<ion-view view-title="Register">
  <ion-content>
    <form class="form-horizontal" role="form">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="newUser.firstName" name="firstName" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="newUser.lastName" name="lastName" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" ng-model="newUser.username" name="username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="newUser.email" name="email" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="newUser.plainPassword" name="plainPassword" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="Confirm Password" ng-model="newUser.passwordRepeat" name="passwordRepeat" required>
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive" ng-click="submitRegister(newUser)">Register</button>
      </div>
    </form>
  </ion-content>
</ion-view>
