{% extends 'base.html.twig' %}

{% block title %}Report Detail{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Report #{{ report.id }}</h1>
        </div>
        <div class="col-xs-12 col-md-6 actions">
            <a class="btn btn-success btn-just-icon btn-round" rel="tooltip" title="Edit" href="{{ path('reports_edit', { 'id': report.id }) }}"><i class="material-icons">mode_edit</i></a>
            {% if report.deletedAt == null %}
            <form class="btn-form" action="{{ path('reports_softdelete', { 'id': report.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(softDeleteForm) }}
                <button rel="tooltip" title="Disable" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">not_interested</i>
                </button>
            </form>
            {% else %}
            <form class="btn-form" action="{{ path('reports_unsoftdelete', { 'id': report.id }) }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                {{ form_widget(unSoftDeleteForm) }}
                <button rel="tooltip" title="Restore" class="btn btn-warning btn-just-icon btn-round" type="submit">
                    <i class="material-icons">settings_backup_restore</i>
                </button>
            </form>
            {% endif %}
            <form class="btn-form" action="{{ path('reports_delete', { 'id': report.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(deleteForm) }}
                <button rel="tooltip" title="Delete" class="btn btn-danger btn-just-icon btn-round" type="submit">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Title</h3>
            <p>{{ report.title }}</p>
        </div>
        <div class="col-xs-12 col-md-5">
            <h3>Status</h3>
            <p>{{ report.status.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Description</h3>
            {{ report.description }}
        </div>
        <div class="col-xs-12 col-md-5">
            <h3>Details</h3>
            <p>Created: {{ report.createdAt|date('M d, Y') }}</p>
            {% if report.updatedAt %}
                <p>Last Updated: {{ report.updatedAt|date('M d, Y') }}</p>
            {% endif %}
            {% if report.deletedAt %}
                <p>Deleted: {{ report.deletedAt|date('M d, Y') }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h3>Image</h3>
            <img src="{{ vich_uploader_asset(report, 'imageFile') }}" alt="{{ report.title }}" />
        </div>
        <div class="col-xs-12 col-md-5">
            <h3>Location</h3>
            <p>{{ report.latitude }}, {{ report.longitude }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
            <h3>Comments</h3>
            {% if report.comments|length %}
                <div class="comments">
                    {% for c in report.comments %}
                    <div class="comments__comment">{{  c.content }}</div>
                    {% endfor %}
                </div>
            {% else %}
                <p>There are no comments</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
