{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Reports</h1>
        </div>

        <div class="col-xs-12 col-md-6">
            <a href="{{ path('reports_new') }}" class="btn btn-primary">Create</a>
        </div>
        <div class="col-xs-12 col-md-3 col-md-offset-3">
            <form class="pull-right" action="{{ path('reports_search') }}" method="post">
                <input type="hidden" name="_method" value="POST" />
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="key" id="key" {% if key is defined %} value="{{ key }}" {% endif %}/>
                    <span class="input-group-addon">
            			<i class="material-icons">search</i>
            		</span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if pagination|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th{% if pagination.isSorted('e.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'e.title') }}</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created', 'e.createdAt') }}</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in pagination %}
                    <tr>
                        <td>{{ e.title }}</td>
                        <td>{{ e.description|length > 50 ? e.description|slice(0, 50) ~ '...' : e.description  }}</td>
                        <td>{{ e.status.name }}</td>
                        <td title="Time: {{ e.createdAt | date('H:i:s') }}">{{ e.createdAt | date('M d, Y') }}</td>
                        <td class="text-right">
                            <a class="btn btn-info btn-simple btn-xs" rel="tooltip" title="View" href="{{ path('reports_detail', { 'id' : e.id }) }}"><i class="material-icons">visibility</i></a>
                            <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="Edit" href="{{ path('reports_edit', { 'id': e.id }) }}"><i class="material-icons">mode_edit</i></a>
                            {% if e.deletedAt == null %}
                            <form class="btn-form" action="{{ path('reports_softdelete', { 'id': e.id }) }}" method="post">
                                <input type="hidden" name="_method" value="POST" />
                                {{ form_widget(softDeleteForms[e.id]) }}
                                <button rel="tooltip" title="Disable" class="btn btn-warning btn-simple btn-xs" type="submit">
                                    <i class="material-icons">not_interested</i>
                                </button>
                            </form>
                            {% else %}
                            <form class="btn-form" action="{{ path('reports_unsoftdelete', { 'id': e.id }) }}" method="post">
                                <input type="hidden" name="_method" value="POST" />
                                {{ form_widget(unSoftDeleteForms[e.id]) }}
                                <button rel="tooltip" title="Restore" class="btn btn-warning btn-simple btn-xs" type="submit">
                                    <i class="material-icons">settings_backup_restore</i>
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p>Showing {{ pagination.getPaginationData.firstItemNumber }} - {{ pagination.getPaginationData.lastItemNumber }} of {{ pagination.getTotalItemCount }}</p>

            {# display navigation #}
            <div class="pagination">
                {{ knp_pagination_render(pagination) }}
            </div>
            {% else %}
                <p>No reports found{% if key is defined %} that contain <em>{{ key }}</em>{% endif %}.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
