{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="row">
    <h1 class="col-xs-12">Create report</h1>
    {{ form_start(new_form) }}
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(new_form.title, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(new_form.title, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(new_form.status, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(new_form.status, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12">
        {{ form_label(new_form.description) }}
        {{ form_widget(new_form.description, { 'attr': { 'class' : 'form-control', 'rows': 5 } }) }}
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(new_form.latitude, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(new_form.latitude, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group label-floating">
            {{ form_label(new_form.longitude, null, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_widget(new_form.longitude, { 'attr': { 'class' : 'form-control' } }) }}
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            {{ form_label(new_form.imageFile) }}
            {{ form_widget(new_form.imageFile, { 'attr': { 'accept' : 'image/*' } }) }}
        </div>
    </div>
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('reports_index') }}">Cancel</a>
        <button class="btn btn-success" type="submit">Save</button>
    </div>
    {{ form_end(new_form) }}
</div>
{% endblock %}
