<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Home{% endblock %} | Collect</title>
        <meta name="description" content="">
        <meta name="title" content="Collect">
        <meta name="author" content="Nick Denys">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" />
        <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/main.css') }}" media="screen,projection" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('default/navbar.html.twig') }}
        {% endif %}
        <div class="page-wrapper">
            <div class="container">
                {{ include('default/messages.html.twig') }}
                {% block content %}{% endblock %}
            </div>
        </div>

        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/jquery/jquery-2.2.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/material-kit/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/material-kit/material.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/material-kit/nouislider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/material-kit/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/vendor/material-kit/material-kit.js') }}"></script>
        <script type="text/javascript" src="{{ asset('dist/scripts/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
